{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block sonata_admin_orm_one_to_many_widget %}

    {% if not sonata_admin.field_description.hasassociationadmin %}

    {% else %}

        <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}" >
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}
                        {% include 'AppBundle:Admin/PropertyAdmin/Form:listings__edit_orm_one_to_many_inline_table.html.twig' %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </span>

        </div>
    {% endif %}

{% endblock %}