{# list_action_template.html.twig #}

{#  {% extends 'SonataAdminBundle::standard_layout.html.twig' %} {# You could extend base_list too #}

{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %} {# You could extend base_list too #}


{% block stylesheets %}
    {{ parent() }}
    //you can add more css here for example
{% endblock %}

{% block list_table %}

    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab_s58234fb46df17_1" data-toggle="tab"><i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i>
                        Batch Executions</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab_s58234fb46df17_1">
                    <div class="box-body  container-fluid">
                        {# {{ dump(admin) }} #}
                        {{ dump(logs) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
