{% if object.pullInProgress %}
    <a style='white-space: nowrap;' data-container='body' data-toggle="tooltip" data-placement="right" title="Sync Currently Running" class="btn btn-sm btn btn-sm btn-danger pull_link"  href="{{ admin.generateObjectUrl('pullStop', object) }}"><i class="fa fa-refresh fa-spin fa-fw"></i> Stop Pull</a>
{% else %}
    <a class="btn btn-sm btn btn-sm btn-info pull_link" href="{{ admin.generateObjectUrl('pull', object) }}"><i class="fa fa-refresh" aria-hidden="true"></i> Pull</a>
{% endif %}